### Frontend ###
front/target/
!front/.mvn/wrapper/maven-wrapper.jar
!front/**/src/main/**/target/
!front/**/src/test/**/target/

### IntelliJ IDEA ###
front/.idea/modules.xml
front/.idea/jarRepositories.xml
front/.idea/compiler.xml
front/.idea/libraries/
front/*.iws
front/*.iml
front/*.ipr

### Eclipse ###
front/.apt_generated
front/.classpath
front/.factorypath
front/.project
front/.settings
front/.springBeans
front/.sts4-cache

### NetBeans ###
front/nbproject/private/
front/nbbuild/
front/dist/
front/nbdist/
front/.nb-gradle/
front/build/
!front/**/src/main/**/build/
!front/**/src/test/**/build/

### VS Code ###
front/.vscode/

### Mac OS ###
front/.DS_Store

### Backend ###
backend/target/
!backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/

### IntelliJ IDEA ###
backend/.idea/modules.xml
backend/.idea/jarRepositories.xml
backend/.idea/compiler.xml
backend/.idea/libraries/
backend/*.iws
backend/*.iml
backend/*.ipr

### Eclipse ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/

### VS Code ###
backend/.vscode/

### Mac OS ###
backend/.DS_Store
*.txt 
