.main-container{
  background: url("./background6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.login-container{
  height: 100vh;
  background: url("./login_page_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.custom-scrollbar {
  position: relative;
  overflow: auto;
}

.container-fluid-nav div {
  display: flex;
  justify-content: space-around;
}

.btn-custom-default {
  background-color:#DBCCDE;
}

.btn-custom-chosen {
  background-color: #92a3f7;
}

.custom-input {
  width: 300px;
}